:root{
    /* 
        COLORS
    */
    --white: #fff;
    --black: #000;
    --primary-color: ;
    --secondary-color: ;
    /* 
        FONTS
    */
    --principal-font: ;
    --secondary-font: ;

}