:root{
    /* 
        COLORS
    */
    --white: #fff;
    --black: #000;
    --primary-color: #1D90F5;
    --secondary-color: #555B69;
    --background-color-form: #272A37;
    --background-focus-input: #3D404B;
    --background-input: #323644;
    --color-icon: #C4C4C4;
    --color-subtitle: #9AA5B5;

    /* 
        FONTS
    */
    --principal-font: 'Poppins', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

    /* 
        FONT SIZES
    */
    --sm: 1.6rem;
    --md: 1.8rem;
    --lg: 2rem;
}




