:root{
    /*
        COLORES
    */
    --black: #000;
    --white: #fff;
    --red-salsa: #F15152;
    --dark-cornflower-blue: #1E3888;
    --corn: #F5E663;
}
*{
    padding: 0;
    margin: 0;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}
html{
    font-size: 62.5%; /* Now 1rem is equal to 10px */
    box-sizing: border-box;
}
body{
    font: normal normal 1.6rem "Open Sans", Arial, Helvetica;
}

/*
    UTILITARIOS
*/
a{
    text-decoration: none;
    color: var(--black);
}
/* 
    CONTENEDOR
*/
.content{
    max-width: 500px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}
.content header{
    text-align: center;
    margin-bottom: 20px;
}
.content section{
    margin-bottom: 20px;
}
.content section h3{
    margin-bottom: 20px;
    text-transform: uppercase;
}
.content section form select{
    width: 100%;
    padding: 10px;
}
.content section form label{
    display: block;
}
.content section form input{
    padding: 10px 16px;
    margin-bottom: 16px;
    border: none;
    border-bottom: 1px solid var(--black);
}
.content section form button{
    background: var(--dark-cornflower-blue);
    color: var(--white);
    border: none;
    padding: 10px 16px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .2px;
}
.content section form .group-field{
    display: flex;
    justify-content: space-between;
}